
.Section1{
    background-color: rgb(245, 240, 230);
}

.Section1 h2{
    display: inline-block;
    width: 100px;
    scroll-margin-top: 80px;
}

.Section2{
    background-image: url(https://www.ucsd.edu/_resources/img/bg-orbs-1.jpg);
    color: white;
}

.Section2 h2{
    display: inline-block;
    width: 100px;
    scroll-margin-top: 80px;
}

.title{
    background-color: rgb(245, 240, 230);
    padding: 5px;
}

#navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}
#navbar li{
    float: left;
}
#navbar li a{
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar{
    position: sticky;
    top:0; 
    overflow: hidden;
    background-color: white;
}

#navbar a{
    font-size: 28px;
}

#navbar a:hover{
    background-color: #182b49;
    color: white;
}

.top{
    max-width: 400px;
}

.one{
    max-width: 100%;
}

.two{
    max-width: 100%;
}

.Section3 {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row: auto;
    justify-items: center;
    background-color: rgb(245, 240, 230);
    padding: 10px;
    scroll-margin-top: 80px;
}

.Section3 > div{
    background-color: #182b49;
    color: white;
    overflow:scroll;
    padding: 10px;
    max-height: 500px;
}

@media screen and (max-width: 800px){
    #navbar li a{
        display: none;
    }
    .top{
        max-width: 75%;
    }
    .Section1 h2{
        font-size: 24px;
    }
    .Section1 p{
        font-size: 20px;
    }
    .Section2 h2{
        font-size: 24px;
    }
    .title h2{
        font-size: 24px;
    }
    .Section3 {
        display: grid;
        grid-gap: 25px;
        grid-template-columns: 1fr 1fr;
        grid-row: auto;
        justify-items: center;
        background-color: rgb(245, 240, 230);
        padding: 10px;
        scroll-margin-top: 80px;
    }
    
    .Section3 > div{
        background-color: #182b49;
        color: white;
        overflow:scroll;
        padding: 10px;
        max-height: 500px;
    }
}
